.container {
    width: 200px;
    height: 100px;
    background-color: green;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;

}


.container h1, .container p {
    color: white;
}